.staff_req{
    min-height: 65vh !important;
    z-index: 2 !important;
    margin: 80px 15px 0 70px !important;
}

.ribbon {
    background: #1abc9c;
}

.ribbon:before, .ribbon:after {
    border: 1.5em solid #1abc9c;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {

    border-color: #1abc9c transparent transparent transparent ;
}

.req_table{
    height: 120px !important;
    width: 60% !important;
    margin-top: 120px !important;
    transform: translateX(33%) !important;
}

.table{
    width: 100%!important;
    height: 120px !important;
}

.table img{
    width: 22px !important;
}

.table td, .table th{
    padding: 7px !important;
}

.modal{
    transform: translateX(28%) !important;
}

.modal-header{
    padding: 10px !important;
}

.modal-title{
    color: white;
    font-weight: 700 !important;
    font-size: 25px !important;
}

.modal-body{
    padding: 25px 20px!important;
    font-family: 'Courier New', Courier, monospace !important;
    position: relative !important;
}

.d-grid button{
    padding: 10px !important;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.modal-footer{
    padding: 7px 20px!important;
}

.modal-footer button{
    padding: 5px 40px!important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.btn-yes{
    margin-right: 20px !important;
}

.modal-logo{
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
}

.modal-body img{
    width: 120px !important;
}

.headings{
    width: 100% !important;
    text-align: center !important;
    color: #000 !important;
    margin-bottom: 50px !important;
}

.headings h4{
    font-weight: 600 !important;
    margin-bottom: 0 !important;
}

.headings p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.modal-body h3{
    text-align: center !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 600 !important;
    font-size: 33px !important;
}

.salutation{
    margin-top: 40px !important;
}

.salutation p{
    margin-top: 0 !important;
    margin-bottom: 6px !important;
    color: #000 !important;
}

.table-modal{
    margin-top: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.mod-table{
    width: 100% !important;
}

.closing{
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 60px !important;
    color: #000 !important;
}

.req_by{
    min-width: 250px !important;
}

.req_by p{
    margin-bottom: 20px !important;
}

.req_by span{
    font-weight: 600 !important;
    font-size: 20px !important;
}

.req_by hr{
    opacity: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

