.home-section{
    transition: all .5s ease!important;
    margin-top: 50px !important;
    z-index: 2!important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    row-gap: 60px !important;
}

.card{
    width: 50% !important;
}

.card a{
    padding: 10px !important;
    margin-top: 20px !important;
}

.card-header{
    padding: 15px !important;
}

.card-header i{
    font-size: 20px !important;
    transform: translateY(4px) !important;
}

.card-body{
    padding: 35px 0 20px 0 !important;
}

.card-footer{
    padding: 15px !important;
}

